<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>78101399654-ha4vo7dhafahctaei6p7gdqoe7h61885.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.78101399654-ha4vo7dhafahctaei6p7gdqoe7h61885</string>
	<key>API_KEY</key>
	<string>AIzaSyAzyCciY5EHWWsM_tNPACCZ-lspViHffX8</string>
	<key>GCM_SENDER_ID</key>
	<string>78101399654</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.Malvinas</string>
	<key>PROJECT_ID</key>
	<string>malvinas-9d9e7</string>
	<key>STORAGE_BUCKET</key>
	<string>malvinas-9d9e7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:78101399654:ios:522e7c3d4c2c5d339705a7</string>
</dict>
</plist>